


<nav class="navbar navbar-expand-lg navbar-light navbar_marron">
  <a class="navbar-brand" href="">
   <%= image_tag("logo.png", :class =>"logo") %>
   <p class= logo_description>By her For her</p>
  </a>


  <div class="logout_btn" >
    <% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete, :class =>"btn btn-outline-success my-2 my-sm-0")  %>

    <% end %>

  </div>
  </nav>
