// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.massage{
  color: #800000;
  text-align:center;
  font-family: 'Rozha One', serif;
}
